<div id="jay-developer" style="display: none;" data-shop-domain="{{ shop.permanent_domain }}">
  {% comment %} <div class="PS-appheading"><h4>PS App Addons</h4></div> {% endcomment %}
   {% comment %} <div id="PS-AddonOptions-main">
  </div>  {% endcomment %}
  <div class="product-color-options">
      <div class="product-color-option-label">
        <label><font style="vertical-align: inherit;">Choose your set</font></label>
      </div>
      <div class="product-color-option-section">
        <div id="ps-choose_set_1" class="product-color selected" boxlimit="3">
         <span><font style="vertical-align: inherit;">Starter Kit (3 Addons)</font></span>
        </div>
        <div id="ps-choose_set_2" class="product-color" boxlimit="5">
         <span><font style="vertical-align: inherit;">Premium Kit (5 Addons)</font></span>
        </div>
      </div>
  </div>

  <div class="product-color-option-label">
        <label><font style="vertical-align: inherit;">Choose your Addon</font></label>
      </div>
  <div class="product-picker-option boxlimit active" id="product-picker-options">
    <!-- Product Picker Options will be dynamically inserted here -->
  </div>
  
  <button class="psAddon-submit-button button button--full-width button--secondary">Add to cart</button>
</div>



{% schema %}
{
  "name": "PS Addons",
  "target": "body",
  "stylesheet": "addons.css",
  "javascript": "addons.js",
  "settings": []
}
{% endschema %}
